.countContainer{
text-align: center;
font-family: Arial, sans-serif;

}

.countDisplay{
font-size: 10em;
font-family: sans-serif;
margin-top: 0;
margin-bottom: 50px;


}

.countButton{
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px 5px;
    background-color: #497DEC;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.countButton:hover{
    background-color: #0056b3;
}